<div class="news-slider-wrapper">
  <div class="news-slider-title">
    <h2><span>N</span>ews </h2>
  </div>
  <div class="news-slider">

    <swiper-container init="true" class="swiper-container" appSwiperDirective [config]="swiperConfig">
      <swiper-slide class="swiper-slide-custom">
        <img src="assets/test.jpg" alt="">
      </swiper-slide>
      <swiper-slide class="swiper-slide-custom">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore placeat provident quasi? Alias aspernatur
        aut dignissimos dolor eveniet iure nemo officiis placeat quasi reiciendis, saepe soluta? Aliquam commodi ex
        incidunt?
      </swiper-slide>
      <swiper-slide class="swiper-slide-custom">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta eum facere iste minima officia porro
        quisquam sequi, soluta veritatis!
      </swiper-slide>
      <swiper-slide class="swiper-slide-custom">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti dolore ea enim hic ipsam, itaque
        necessitatibus nemo omnis perferendis perspiciatis quas quibusdam quidem rerum saepe voluptatibus? Enim nesciunt
        sapiente voluptatem.
      </swiper-slide>
      <swiper-slide class="swiper-slide-custom">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet animi, asperiores commodi dicta
        dolorum ea laboriosam laudantium magni odio rerum tempore temporibus vero! Aliquam aperiam aut cum cumque
        distinctio fuga illo nulla optio sed. Atque, dignissimos libero omnis placeat quis recusandae tempore ullam?
        Assumenda atque ex nesciunt nihil voluptatum!
      </swiper-slide>
    </swiper-container>
  </div>
</div>
