<div class="news-slider-wrapper">
  <div class="news-slider-title">
    <h2><span>N</span>ews </h2>
  </div>
  <div class="news-slider">
    <swiper-container init="true" class="swiper-container" appSwiperDirective [config]="swiperConfig">
      <swiper-slide class="swiper-slide-custom">
        <div class="swiper-subtitle">
          <h3>AKCIJA</h3>
          <h3><span>20</span>%</h3>
          <h3>POPUSTA</h3>
        </div>
<!--        <div class="swiper-title">-->
<!--          <h2>LAZY</h2>-->
<!--          <h2><span>MYTH</span></h2>-->
<!--        </div>-->
        <img src="assets/test.jpg" alt="">
      </swiper-slide>
      <swiper-slide class="swiper-slide-custom">
        <div class="swiper-title">
          <h2>LAZY</h2>
          <h2><span>MYTH</span></h2>
        </div>
        <img src="assets/test.jpg" alt="">
      </swiper-slide>
    </swiper-container>
  </div>
</div>
