<div class="homepage-wrapper">
  <div class="homepage-title">
    <div class="title">
      <h2 class="animate__animated animate__fadeInLeft">LAZY</h2>
      <h2 class="animate__animated animate__fadeInRight"> <span>MYTH</span></h2>
    </div>
    <div class="subtitle">
      <p class="animate__animated animate__fadeInUp">Don't be <b>Lazy</b>, Make a <span><b>Myth</b></span></p>
    </div>
  </div>

  <div class="mouse_scroll">
    <div class="mouse">
      <div class="wheel"></div>
    </div>
    <div>
      <span class="m_scroll_arrows unu"></span>
      <span class="m_scroll_arrows doi"></span>
      <span class="m_scroll_arrows trei"></span>
    </div>
  </div>

  <div class="news-wrapper">
    <app-news-slider></app-news-slider>
  </div>
</div>
